body {
    background-color: #1a1a1a;
    /* background-color: #999999; */
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.header {
    /* POSITION AT CENTER */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px;
    /* FONT */
    color: white;
}

.app-name {
    /* POSITION */
    margin: 0;
    padding: 5px;
    /* FONT */
    font-size: 85px;
    font-weight: 500;
    letter-spacing: 0px;
    /* STYLE */
    text-decoration: none;
    text-transform: uppercase;
}

.app-name:visited {
    color: #ffffff;
}

.aut-name {
    /* TO POSITION RIGHT OF APP NAME */
    position: absolute;
    margin-left: 390px;
    padding: 0;
    /* FONT */
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
}

.camera-container {
    /* POSITION AT CENTER */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px;
    padding-top: 0px;
}

.camera-preview {
    border-radius: 10px;
}

.button-container {
    /* POSITION AT CENTER */
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 85px;
    margin: 0 auto;
    padding: 0;
}

.button {
    /* SIZE OF BUTTON */
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    /* STYLE */
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.button-text {
    /* POSITION */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* STYLE */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 100;
    letter-spacing: 5px;
    color: #505050;
    transition: color 0.5s ease-out;
}

.button-text:hover {
    color: #ffffff;
}

.text-no {
    /* POSITION */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* STYLE */
    text-transform: uppercase;
    color: rgb(200, 50, 50);
    font-size: 44px;
    letter-spacing: 4px;
    font-weight: 100;
}

.text-yes {
    /* POSITION */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* STYLE */
    text-transform: uppercase;
    color: rgb(50, 200, 50);
    font-size: 44px;
    letter-spacing: 4px;
    font-weight: 100;
}

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: -20px auto;
    padding: 0;
    width: 450px;
    height: 160px;
    text-align: center;
    border-radius: 10px;
    background-color: #1a1a1a;
}

.popup-inp {
    margin: 10px 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}

.popup-inp::placeholder {
    padding: 0;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
}

.popup-btn {
    margin-top: -30px;
    border: none;
    background-color: #1a1a1a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 100;
    letter-spacing: 5px;
    color: #505050;
    transition: color 0.5s ease-out;
    cursor: pointer;
}

.popup-btn:hover {
    color: #ffffff;
}

.Link {
    position: relative;
    margin-left: 85%;
}

.img {
    position: relative;
    width: 130px;
    height: 130px;
    transition: transform 0.5s ease-out;
}

.img:hover {
    transform: scale(1.1);
}