<!DOCTYPE html>
<html lang="en-GB">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- import font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600&display=swap');
    </style>

    <!-- tab icon -->
    <link rel="shortcut icon" type="image/x-ico" href="{% static 'logo_black.ico' %}">

    <meta charset="utf-8">
    <meta name="author" content="BootyAss-inc">
    <meta name="description" content="Server for detecting faces and emotions with unlocking system.">
    <title>VITAZ</title>
</head>

<body>
    <div class="header">
        <p class="app-name">VITAZ</p>
        <p class="aut-name">by Pershaev & Evula</p>
    </div>

    <div class="camera-container">
        <img class="camera-preview" src="{% url 'camera' %}">
    </div>

    <div class="button-container">
        <button class="button">
            <a class="button-text" href="{% url 'signIn' %}">Sign in</a>
        </button>
        <button class="button">
            <a class="button-text" href="{% url 'signUp' %}">Sign up</a>
        </button>
    </div>
    {% if onSignUp %}
    <form class="signup-form">
        <div class="signup-txt">
            <label class="signup-lbl" for="userName">Name:</label>
            <input class="signup-inp" type="text" name="fname" autocomplete="off" maxlength="22">
        </div>
        <div>
            <a class="signup-btn" href="{% url 'signUpInner' %}">Sign up</a>
        </div>
    </form>
    {% else %} {% if id == -1 %}
    <div class="text-no">ACCESS DENIED</div>
    {% else %}
    <div class="text-yes">Hello, {{ id }}</div>
    {% endif %} {% endif %}
</body>

</html>