<!DOCTYPE html>
<html lang="en-GB">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- import font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600&display=swap');
    </style>

    <!-- tab icon -->
    <link rel="shortcut icon" type="image/x-ico" href="{% static 'logo_black.ico' %}">

    <meta charset="utf-8">
    <meta name="author" content="BootyAss-inc">
    <meta name="description" content="Server for detecting faces and emotions with unlocking system.">
    <title>VITAZ</title>
</head>

<body>
    <div class="header">
        <a class="app-name" href="{% url 'home' %}">VITAZ</a>
        <p class="aut-name">by Pershaev & Evula</p>
    </div>

    <div class="camera-container">
        <img class="camera-preview" src="{% url 'cameraFrame' %}">
    </div>

    <!-- ON SIGN UP -->
    {% if pop %}
    <form class="popup-container" method="post" autocomplete="off">
        {% csrf_token %} {{ form.name }}
        <input class="popup-inp" type="text" name="popup" placeholder="Name">
        <button class="popup-btn">Sign up</button>
    </form>
    <!-- NO FACE -->
    {% if ret %}
    <div class="text-no">no face detected</div>
    {% endif %} {% else %}

    <div class="button-container">
        <button class="button">
            <a class="button-text" href="{% url 'signIn' %}">Sign in</a>
        </button>
        <button class="button">
            <a class="button-text" href="{% url 'signUp' %}">Sign up</a>
        </button>
    </div>

    <!-- NO FACE -->
    {% if ret %}
    <div class="text-no">no face detected</div>
    {% endif %}

    <!-- ON SIGN IN -->
    {% if showAccess %} {% if access %}
    <div class="text-yes">hello, {{ NAME}}</div>
    {% else %}
    <div class="text-no">access denied</div>
    {% endif %} {% endif %} {% endif %}


    <a class="Link" href="https://github.com/bootyass-inc/VITAZ" target="_blank"><img class="img" src="/static/github.png"></a>

</body>

</html>